@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#__next {
  padding: 16px;
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

.button {
  display: block;
  padding: 8px;
  border-radius: 8px;
  background-color: #f1f1f1;
  text-align: center;
}

.button + .button {
  margin-top: 16px;
}

.back {
  position: absolute;
  top: 16px;
  left: 16px;
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  color: #444;
  font-size: 22px;
}

.title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 22px;
}

.rabbit {
  position: absolute;
  top: 20px;
  right: 16px;
  width: 24px;
  transform: rotate(30deg);
}

.rabbit.shaking {
  animation: shake 1s linear infinite;
}

@keyframes shake {
  0%, 50%, 100% {
    transform: rotate(30deg);
  }

  25% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(50deg);
  }
}
